version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  # Python Backend (Port 8001)
  backend:
    build: ./backend
    restart: always
    env_file: ./backend/.env
    ports:
      - "8001:8001"
    networks:
      - app-network

  # React/Web Frontend (Port 3000)
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    restart: always
    env_file: ./frontend/.env
    ports:
      - "3000:3000"
    networks:
      - app-network
    volumes:
      - ./notebook_app:/notebook_app  # İŞTE HAYAT KURTARAN SATIR BURADA (Frontend'in içinde)

  # Laravel Admin Panel (Port 8000)
  admin:
    build: ./admin
    restart: always
    env_file: ./admin/.env
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - backend
    environment:
      - PHP_CLI_SERVER_WORKERS=10
    command: php artisan serve --host=0.0.0.0 --port=8000